/* General */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #0d1117;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #162B4E;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.header .logo {
    height: 50px;
}

.header nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

.header nav a:hover {
    color: #ff0000;
}

/* Estilos para la sección de bienvenida con imagen de fondo */
.welcome-section {
    background: url('../img/redbull-carro.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Añadir una superposición oscura para que el texto sea legible */
.welcome-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
    border-radius: 8px;
    z-index: 1;
}

/* Ajusta el estilo del texto para que esté sobre la superposición */
.welcome-section h1,
.welcome-section p {
    position: relative;
    z-index: 2;
}

/* Slider Section */
.slider-section {
    position: relative;
    width: 80%;
    margin: 20px auto;
}

.slider {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.slides {
    flex: 0 0 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-controls button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    font-size: 2em;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.slider-controls button:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Footer */
footer {
    background: #162B4E;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
}

footer .social-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: #ff0000;
}


